.error {
  color: red;
}

.app {
	padding-top: 50px;
}


.todo {
	border: 1px #000 solid;
	padding: 20px;
	high: 200px;
}

.legend {
	position:relative;
	top: -30px;
	background: white;
	z-index: 1000px;
	width:100px;
}

